@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);
  --color-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --font: "Kumbh Sans", sans-serif;
}

html,
body {
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

* {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
*::-moz-selection {
  color: currentColor;
  background-color: transparent;
}
*::selection {
  color: currentColor;
  background-color: transparent;
}
*:hover {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: var(--color-white);
  font-family: var(--font);
}
body.body-wrapper {
  max-width: 1088px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}
body .font-regular {
  font-weight: 400;
}
body .font-bold {
  font-weight: 700;
}
body::-webkit-scrollbar {
  display: none;
}
body p {
  font-size: 1rem;
}

.navbar {
  width: inherit;
  display: flex;
  height: 108px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px var(--color-grayish-blue);
}
.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-brand .ham-btn {
  display: none;
  margin-right: 16px;
}
.navbar .navbar-nav {
  flex: 1;
  display: flex;
  height: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-nav .navbar-list {
  display: flex;
  flex-direction: row;
  height: inherit;
  align-items: center;
  list-style: none;
  margin: 0;
}
.navbar .navbar-nav .navbar-list ul {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.navbar .navbar-nav .navbar-list li {
  margin: 0 24px;
  display: flex;
  align-items: center;
  height: inherit;
}
.navbar .navbar-nav .navbar-list li:first-child {
  display: none;
}
.navbar .navbar-nav .navbar-list li a {
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: inherit;
  color: var(--color-dark-grayish-blue);
  letter-spacing: 0.5px;
  line-height: 100%;
  border-bottom: solid 5px transparent;
}
.navbar .navbar-nav .navbar-list li a:hover,
.navbar .navbar-nav .navbar-list li a :active,
.navbar .navbar-nav .navbar-list li a :visited {
  color: var(--color-black);
  border-bottom: solid 5px var(--color-orange);
}
.navbar .navbar-nav .navbar-end {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-nav .navbar-end .cart-wrapper {
  margin-right: 40px;
  position: relative;
}
.navbar .navbar-nav .navbar-end .cart-wrapper.has-before::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  height: 100vh;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-item-count {
  position: absolute;
  background-color: var(--color-orange);
  width: 30px;
  right: 0;
  top: 0;
  text-align: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transform: scale(0.75) translate(50%, -65%);
  -webkit-transform: scale(0.75) translate(50%, -65%);
  -moz-transform: scale(0.75) translate(50%, -65%);
  -ms-transform: scale(0.75) translate(50%, -65%);
  -o-transform: scale(0.75) translate(50%, -65%);
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-item-count span {
  color: var(--color-white);
  font-size: 0.75rem;
  line-height: 1px;
  font-weight: 700;
}
.navbar .navbar-nav .navbar-end .cart-wrapper svg:hover {
  cursor: pointer;
  /*&~.cart-card {
    display: flex;
    z-index: 1;
    flex-direction: column;
  }*/
}
.navbar .navbar-nav .navbar-end .cart-wrapper svg:hover path {
  fill: var(--color-black);
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card {
  min-width: 375px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 15px 25px 1px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  position: absolute;
  margin: 8px;
  display: flex;
  z-index: 2;
  flex-direction: column;
  top: 40px;
  right: -172px;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card.disp-none {
  display: none;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card:hover {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card::before {
  content: "";
  cursor: pointer;
  position: absolute;
  min-width: 375px;
  height: 48px;
  top: -48px;
  z-index: 1;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card::before:hover ~ .cart-card {
  display: flex;
  z-index: 1;
  flex-direction: column;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-header {
  padding: 24px;
  border-bottom: solid 1px var(--color-grayish-blue);
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content {
  display: flex;
  padding: 16px;
  min-height: 165px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  font-weight: 700;
  color: var(--color-dark-grayish-blue);
  text-align: center;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content button {
  flex: 1;
  margin-top: 8px;
  box-shadow: none;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  width: inherit;
  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content button:hover {
  opacity: 0.75;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content .card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content .card-item img {
  width: 48px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content .card-item .prod-details {
  padding: 16px;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content .card-item .prod-details span {
  color: var(--color-grayish-blue);
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.5px;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content .card-item .prod-details div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content .card-item .prod-details div span:not(:first-child) {
  margin-left: 8px;
  color: var(--color-black);
  font-weight: 700;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content .card-item .prod-delete {
  width: 16px;
  cursor: pointer;
}
.navbar .navbar-nav .navbar-end .cart-wrapper .cart-card .card-content .card-item .prod-delete img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .navbar-nav .navbar-end .avatar-wrapper {
  width: 56px;
  height: 56px;
}
.navbar .navbar-nav .navbar-end .avatar-wrapper img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.navbar .navbar-nav .navbar-end .avatar-wrapper img:hover {
  cursor: pointer;
  border: solid 2px var(--color-orange);
}

.product-card {
  width: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 90px 0;
}
.product-card .product-carousel {
  display: none;
}
.product-card .product-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 480px;
  position: relative;
}
.product-card .product-gallery div {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}
.product-card .product-gallery div div {
  width: 96px;
  flex: 0;
  margin-top: 0;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-sizing: border-box;
}
.product-card .product-gallery div div img {
  width: 94px;
  height: 94px;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card .product-gallery div div img:hover {
  filter: opacity(50%);
  cursor: pointer;
  -webkit-filter: opacity(50%);
}
.product-card .product-gallery div .active {
  border: solid 2.5px transparent;
  border-color: var(--color-orange);
}
.product-card .product-gallery div .active img {
  filter: opacity(30%);
  -webkit-filter: opacity(30%);
}
.product-card .product-gallery div .active img:hover {
  filter: opacity(30%);
  -webkit-filter: opacity(30%);
}
.product-card .product-gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  object-fit: cover;
  max-width: inherit;
}
.product-card .product-content {
  padding: 80px 0;
  box-sizing: border-box;
}
.product-card .product-content span {
  font-weight: 700;
  color: var(--color-orange);
  opacity: 0.9;
  letter-spacing: 1.75px;
  font-size: 1rem;
}
.product-card .product-content h1 {
  font-size: 2.5rem;
  margin-top: 16px;
  letter-spacing: 1px;
  margin-bottom: 32px;
  max-width: 448px;
}
.product-card .product-content p {
  color: var(--color-dark-grayish-blue);
  letter-spacing: 0.2px;
  line-height: 24px;
  max-width: 448px;
  margin-bottom: 24px;
}
.product-card .product-content .price-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}
.product-card .product-content .price-div span {
  color: var(--color-grayish-blue);
  text-decoration: line-through;
}
.product-card .product-content .price-div .price-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.product-card .product-content .price-div .price-content h2 {
  margin: 0;
  font-weight: 700;
  color: var(--color-black);
  line-height: 24px;
}
.product-card .product-content .price-div .price-content .price-discount {
  background-color: var(--color-pale-orange);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-left: 16px;
}
.product-card .product-content .price-div .price-content .price-discount span {
  font-size: 0.9rem;
  text-decoration: none;
  padding: 8px;
  margin: 0 !important;
  color: var(--color-orange);
  line-height: 24px;
}
.product-card .product-content .add-to-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-card .product-content .add-to-div .item-count {
  background-color: var(--color-light-grayish-blue);
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
}
.product-card .product-content .add-to-div .item-count span {
  color: var(--color-orange);
  font-weight: 700;
}
.product-card .product-content .add-to-div .item-count span:not(:nth-child(2)) {
  font-size: 1.2rem;
}
.product-card .product-content .add-to-div .item-count span:not(:nth-child(2)):hover {
  cursor: pointer;
  opacity: 0.75;
}
.product-card .product-content .add-to-div .item-count span:nth-child(2) {
  font-size: 0.9rem;
  cursor: default;
  color: var(--color-black);
}
.product-card .product-content .add-to-div button {
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 65%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  outline: none;
  box-shadow: none;
  border: none;
}
.product-card .product-content .add-to-div button span {
  color: var(--color-white);
  font-size: 0.9rem;
}
.product-card .product-content .add-to-div button:hover {
  opacity: 0.75;
  cursor: pointer;
}
.product-card .product-content .add-to-div button svg {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  margin-right: 16px;
}
.product-card .product-content .add-to-div button svg path {
  fill: var(--color-white);
}

.popup-gallery {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-gallery.disp-none {
  display: none;
}
.popup-gallery .popup-nav {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 580px;
  position: absolute;
  margin-top: 0;
}
.popup-gallery .popup-nav div {
  border-radius: 30px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.popup-gallery .popup-nav div span {
  font-size: 2rem;
  padding: 16px;
}
.popup-gallery .popup-nav div span:hover {
  color: var(--color-orange);
  cursor: pointer;
}
.popup-gallery .close_btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 32px;
  width: 540px;
  cursor: pointer;
}
.popup-gallery .close_btn span {
  color: var(--color-orange);
  font-size: 2rem;
  font-weight: 500;
}
.popup-gallery div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  width: 440px;
}
.popup-gallery div div {
  background-color: var(--color-white);
  width: 96px;
  height: 96px;
  flex: 0;
  margin-top: 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-sizing: border-box;
}
.popup-gallery div div img {
  width: 96px;
  height: 96px;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup-gallery div div img:hover {
  filter: opacity(50%);
  cursor: pointer;
  -webkit-filter: opacity(50%);
}
.popup-gallery div .active {
  border: solid 2.5px transparent;
  border-color: var(--color-orange);
}
.popup-gallery div .active img {
  filter: opacity(30%);
  -webkit-filter: opacity(30%);
}
.popup-gallery div .active img:hover {
  filter: opacity(30%);
  -webkit-filter: opacity(30%);
}
.popup-gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 540px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media only screen and (max-width: 1240px) {
  .navbar .navbar-nav .navbar-end .cart-wrapper .cart-card {
    right: -96px;
  }
}
@media only screen and (max-width: 1088px) {
  .navbar {
    padding: 0 32px;
  }
  .navbar .navbar-nav .navbar-end .cart-wrapper .cart-card {
    right: -128px;
  }
}
@media only screen and (max-width: 960px) {
  .navbar {
    justify-content: space-between;
    padding: 16px 32px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .navbar .navbar-brand .ham-btn {
    display: flex;
    position: relative;
  }
  .navbar .navbar-brand .ham-btn.pressed::before {
    content: "";
    width: 100vw;
    z-index: 1;
    height: 100vh;
    position: fixed;
    background-color: var(--color-black);
    opacity: 75%;
    top: 0;
    left: 0;
  }
  .navbar .navbar-nav {
    flex: 0;
    position: relative;
  }
  .navbar .navbar-nav .navbar-list {
    position: fixed;
    background-color: white;
    height: 100vh;
    top: 0;
    z-index: 1;
    left: 0;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    width: 0;
    align-items: flex-start;
  }
  .navbar .navbar-nav .navbar-list.expand {
    -webkit-animation-name: nav-expand;
            animation-name: nav-expand;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .navbar .navbar-nav .navbar-list.collapse {
    -webkit-animation-name: nav-collapse;
            animation-name: nav-collapse;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .navbar .navbar-nav .navbar-list li {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0;
    padding: 8px 24px;
  }
  .navbar .navbar-nav .navbar-list li:first-child {
    display: block;
    padding: 24px;
    padding-bottom: 32px;
  }
  .navbar .navbar-nav .navbar-list li a {
    color: var(--color-black);
    font-weight: 700;
  }

  .product-card .product-gallery {
    max-width: 40vw;
  }
  .product-card .product-gallery img {
    width: 40vw;
  }
  .product-card .product-gallery div {
    max-width: 40vw;
  }
  .product-card .product-gallery div img {
    width: 8vw;
  }
  .product-card .product-content {
    padding: 4vw 0;
  }
  .product-card .product-content h1,
.product-card .product-content p {
    max-width: 45vw;
  }
}
@-webkit-keyframes nav-expand {
  from {
    width: 0;
  }
  to {
    width: 240px;
  }
}
@keyframes nav-expand {
  from {
    width: 0;
  }
  to {
    width: 240px;
  }
}
@-webkit-keyframes nav-collapse {
  from {
    width: 240px;
  }
  to {
    width: 0;
  }
}
@keyframes nav-collapse {
  from {
    width: 240px;
  }
  to {
    width: 0;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 16px 24px;
  }
  .navbar .navbar-nav .navbar-end .cart-wrapper {
    margin-right: 24px;
  }
  .navbar .navbar-nav .navbar-end .cart-wrapper .cart-card {
    right: -80px;
  }
  .navbar .navbar-nav .navbar-end .avatar-wrapper {
    width: 32px;
    height: 32px;
  }

  .product-card {
    padding: 32px 0;
  }
  .product-card .product-gallery {
    max-width: 80vw;
  }
  .product-card .product-gallery img {
    width: 80vw;
  }
  .product-card .product-gallery div {
    max-width: 80vw;
  }
  .product-card .product-gallery div img {
    width: 15vw;
  }
  .product-card .product-content h1,
.product-card .product-content p {
    max-width: 80vw;
  }

  .popup-gallery img {
    width: 480px;
  }
  .popup-gallery .close_btn {
    width: 480px;
  }
  .popup-gallery .popup-nav {
    width: 520px;
  }
}
@media only screen and (max-width: 540px) {
  .product-card {
    padding: 0;
  }
  .product-card .product-carousel {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100vw;
    position: relative;
    display: flex;
  }
  .product-card .product-carousel .carousel-content {
    width: 100vw;
    flex-direction: row;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .product-card .product-carousel .carousel-content img {
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product-card .product-carousel .carousel-nav {
    position: absolute;
    display: flex;
    width: inherit;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px;
    flex-direction: row;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .product-card .product-carousel .carousel-nav div {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  .product-card .product-carousel .carousel-nav div span {
    font-weight: 700;
  }
  .product-card .product-gallery {
    display: none;
  }
  .product-card .product-content {
    padding: 16px;
  }
  .product-card .product-content h1,
.product-card .product-content p {
    max-width: 100vw;
  }
  .product-card .product-content .price-div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .product-card .product-content .price-div .price-content {
    margin: 0;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .navbar-nav .navbar-end .cart-wrapper .cart-card {
    position: fixed;
    left: 0;
    top: 72px;
    margin: 0 8px;
    right: 0;
    min-width: 260px;
  }

  .product-card .product-content span {
    font-size: 0.8rem;
  }
  .product-card .product-content h1 {
    font-size: 1.75rem;
    margin-bottom: 16px;
  }
  .product-card .product-content p {
    font-size: 0.95rem;
  }
}
@media only screen and (max-width: 320px) {
  .navbar .navbar-brand .ham-btn {
    margin-right: 8px;
  }
  .navbar .navbar-nav .navbar-end .cart-wrapper {
    margin: 0 8px;
  }
}/*# sourceMappingURL=main.css.map */